{% extends "base.html" %}

<body>
{% block message %}
{% endblock %}
{% block content %}
<h3>Data </h3><button class="btn btn-primary" type="submit" disabled>Update</button>
  <p></p>
  <div class="row">
    <div class="col-sm-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">......</h5>
          ......
        </div>
      </div>
    </div>
    <br>
    <div class="col-sm-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">......</h5>
            ......
        </di>
      </div>
      </div>
    </div>
    <br>
    <div class="col-sm-3">
      <div class="card">
        <div class="card-body">
        <h5 class="card-title">......</h5>
          ......
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
</body>