{% extends "base.html" %}

<body>
{% block content %}
<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <svg class="bd-placeholder-img" width="100%" height="100%" src="https://i.ibb.co/FBYwMdQ/home-page.png" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>

        <div class="container">
          <div class="carousel-caption text-start">
            <h1>It's Time For Cash.</h1>
            <h3>Reward yourself for the time you spend doing productive activities.</h3>
            <p><a class="btn btn-lg btn-primary" href="/signup">Sign Up</a>
            <a class="btn btn-lg btn-secondary" href="/login">Log In</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>

        <div class="container">
          <div class="carousel-caption">
            <h1>Custom Categories.</h1>
            <h3>Decide what activities are worth cash and create spending categories that make sense for you.</h3>
            <p><a class="btn btn-lg btn-primary" href="/signup">Sign Up</a>
            <a class="btn btn-lg btn-secondary" href="/login">Log In</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>

        <div class="container">
          <div class="carousel-caption text-end">
            <h1>Fast, Free Sign Up.</h1>
            <h3>Get started in under a minute with an easy-to-use design and simple sign-up. No need to get your wallet out until you're ready to treat yourself and spend what you've earned.</h3>
            <p><a class="btn btn-lg btn-primary" href="/signup">Sign Up</a>
            <a class="btn btn-lg btn-secondary" href="/login">Log In</a></p>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  {% endblock %}
        </body>